{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'posts/main.css' %}">

	<title></title>

</head>
<body>

	<div class="container">
		<!-- Search Bar, logo, user profile, and settings -->

		<div class="row">
			<div class="col-12 inline">
				<nav class="navbar navbar-light bg-light">

					<div class="col-2">
						<a class="navbar-brand" href="#">[New Forum]</a>
					</div>

					<div class="col-7">
						<form class="form-inline ">
      						<input class="form-control col-6" type="search" placeholder="Search" aria-label="Search">
      						<button class="btn btn" type="submit">Search</button>
    					</form>
    				</div>
    				<div class="col-3">
      					<a class="btn btn-dark btn-sm" href="#" role="button">UserProfile</a>
						<a class="btn btn-dark btn-sm" href="#" role="button">Settings</a>
						<a class="btn btn-dark btn-sm"href="{% url 'logout' %}">Logout</a>
					</div>
				</nav>
			</div>
		</div>


	<div class="row">
		<div class="col-2">
				<a class= "btn btn-primary btn-dark btn-lg btn-block mt-4" href="{% url 'posts-create' %}">Compose</a>
				<div class="post-nav">
					<div class="btn-group-vertical btn-block mt-4">
						<a class="btn btn-dark mt-2" href="{% url 'posts-home' %}">Home</a>
						<a class="btn btn-dark mt-2" href="#">Tags</a>
      					<a class="btn btn-dark mt-2" href="#">FAQ</a>
      					<a class="btn btn-dark mt-2" href="#">Rules</a>
      					<a class="btn btn-dark mt-2" href="#">Hours</a>
      				</div>
      			</div>
		</div>

			<div class="col-10">
				{% block content %}{% endblock %}
			</div>
		</div>
	</div>

	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>